{% raw %}
{% extends "base.html" %}
{% load i18n account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>{% trans "Login" %}</h1>

            <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">register</a> first.{% endblocktrans %}</p>

            <form  method="POST" action="{% url 'account_login' %}">
                <div class="form-group">
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                  {{ hidden_field }}
                  {% endfor %}
                </div>

                {% include '{% endraw %}{{ cookiecutter.project_app_prefix}}{% raw %}_contrib/form_fields.html' with fields=form.visible_fields %}

                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                <a class="btn btn--link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
{% endraw %}
