{% raw %}{% load i18n %}
<div class="row">
    <div class="form-control-upload col-sm-9 col-md-8">
        <div class="input-group">
            {{ file_input }}
            {{ text_input }}
            <span class="input-group-btn">
            {% if has_image_set and not is_required %}
                <div class="input-group-append">
                    <label for="{{ checkbox_id }}" class="btn btn-danger" title="{% trans 'Remove the picture' %}">
                        <i class="fas fa-trash-alt"></i>
                    </label>
                </div>
            {% else %}
                <div class="input-group-append">
                    <button for="{{ id }}" class="btn btn-primary" title="{% trans 'Upload a picture' %}">
                        <i class="fas fa-cloud-upload-alt" aria-label="{% trans 'Upload a picture' %}"></i>
                    </button>
                </div>
            {% endif  %}
            </span>
        </div>
        <div class="form-{{ id }} upload-wrapper__preview">
            {{ file_input }}
        </div>
    </div>
    <div class="col-4">
        <div class="form-{{ id }} upload-wrapper__preview">
            {{ checkbox_input }}
            <img class="img-fluid" id="{{ file_id }}" src="{% if has_image_set %}{{ file_url }}{% else %}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={% endif %}" data-upload-preview="{{ id }}" alt="">
        </div>
    </div>
    <div class="alert alert-info mt-1 mb-0 mx-3" role="alert">
        {% blocktrans %}
        Your image will be uploaded/removed once you save your changes
        at the end of this page.
        {% endblocktrans %}
    </div>
</div>
{% endraw %}
