// Required
@import "~bootstrap/scss/functions";

// Project variables overwriting bootstrap's variables
@import 'variables';
@import 'base';

// Must be loaded after above due to use of default
@import "~bootstrap/scss/bootstrap.scss";

//A4 components
@import 'a4-components/alert';
@import 'a4-components/category_formset';
@import 'a4-components/forms';
@import 'a4-components/question_list';
@import 'a4-components/polls';
@import 'a4-components/progress';

//Project components
@import 'components/blocks';
@import 'components/button';
@import 'components/component_lib';
@import 'components/documents';
@import 'components/footer';
