{% raw %}{% extends "base.html" %}
{% load i18n rules %}

{% block title %}{% endblock %}

{% block content %}
{% has_perm 'a4projects.add_project' request.user view.project as user_may_add %}
{% if user_may_add %}
<div>
  <div class="row">
    <div class="col-12 mx-auto" role="tablist">
    <ul class="nav nav-tabs">
      <li class="nav-item ml-auto">
        <a href="{% url 'a4dashboard:project-list' organisation_slug=view.organisation.slug %}"
           class="nav-link {% ifequal view.menu_item 'project' %}active{% endifequal %}">{% trans 'Participation projects' %}
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'a4dashboard:organisation-edit' organisation_slug=view.organisation.slug %}"
           class="nav-link {% ifequal view.menu_item 'organisation' %}active{% endifequal %}"> {% trans 'Settings' %}
        </a>
      </li>
    </ul>
  </div>
  </div>
</div>
{% endif %}
<div class="container">
    {% block dashboard_content %}{% endblock %}
</div>

{% endblock %}{% endraw %}