{% raw %}{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% trans "Create project based on" %} {{ view.blueprint.title }} &mdash; {{ block.super }}{% endblock %}

{% block dashboard_content %}
    <div class="offset-md-3 col-md-6 mb-3">
        <h1>{% trans "Create project based on" %} {{ view.blueprint.title }}</h1>

        {% for error in form.non_field_errors %}
            <span>{{ error }}</span>
        {% endfor %}

        <form enctype="multipart/form-data" action="{{ request.path }}" method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id }}" class="mb-1">{{ field.label }}</label>
                <small id="{{ field.id }}" class="form-text text-muted mb-2">{{ field.help_text }}</small>
                {% render_field field class+="form-control" %}
            </div>
            {% endfor %}

            <p>{% trans 'After saving the draft project you can further customize and edit your project and eventually publish it.' %}</p>

            <input type="submit" class="btn btn--primary" name="send" value="{% trans 'Create draft' %}"/>
            <a href="{% url 'a4dashboard:blueprint-list' organisation_slug=view.organisation.slug %}"
               class="btn btn--light">{% trans 'Cancel' %}</a>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}
{% block extra_css %}
    {{ form.media.css }}
{% endblock %}{% endraw %}
