{% raw %}{% load i18n project_tags thumbnail %}
{% project_tile_image project as project_image %}
{% project_tile_image_copyright project as project_image_copyright %}


<li class="list-group-item p-0">
    <ul class="list-group d-flex flex-row">
        <div class="col-1 rounded position-relative bg-primary" {% if project_image %} style="background-image: url({% thumbnail project_image '170x170' crop %}); background-position: center;"{% endif %}>
            {% if project_image_copyright %}
            <span class="position-absolute fixed-bottom">© {{ project_image_copyright }}</span>
            {% endif %}
        </div>
        <li class="list-group-item flex-fill border-0">
            <h2>{{ project.name }}</h2>
            <div class="dashboard-list-labels">
                {% if project.has_finished %}
                <span class="label">{% trans "Finished" %}</span>
                {% endif %}
                {% if not project.is_public %}
                <span class="label">{% trans 'private' %}</span>
                {% endif %}
                </div>
        </li>
        <li class="list-group-item border-0">
            <div class="btn-group" role="group">
                <a href="{{  project.get_absolute_url }}" class="btn btn-light">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    {% if project.is_draft %}
                        {% trans 'Preview' %}
                    {% else %}
                        {% trans 'View' %}
                    {% endif %}</a>
                <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}" class="btn btn-light">
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        {% trans 'Edit'%}
                </a>
                <div class="btn-group dropdown" role="group">
                    <button id="btnGroupDrop{{ project.id}}" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
                    <div class="dropdown-menu p-0" aria-labelledby="btnGroupDrop{{ project.id}}">
                        <div class="dropdown-item">
                            <form method="post" class="">
                                {% csrf_token %}
                                <input type="hidden" name="project_pk" value="{{ project.pk }}">
                                <button type="submit" name="duplicate" value="{{ project }}" class="dropdown-item">
                                        <i class="fa fa-copy" aria-hidden="true"></i>
                                        {% trans 'Duplicate' %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
{% endraw %}
