{% raw %}{% load i18n widget_tweaks form_field_tags %}

{% for field in fields %}
  {% if field|is_checkbox %}
  <div class="form-group form-check">
    {% render_field field class="form-check-input" %}
    <label class="form-check-label" for="{{ field.id }}">{{ field.label }}</label>
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% elif field|is_radiobutton %}
  <div class="form-group">
    <label for="{{ field.id }}">{{ field.label }}</label>
    {% render_field field %}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% else %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class="form-control" %}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}
{% endraw %}
