{% raw %}<!DOCTYPE html>
{% load i18n wagtailuserbar static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'adhocracy4.css' %}" />
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'vendor.js' %}"></script>
        <script src="{% static 'adhocracy4.js' %}"></script>
    </head>
    <body>
        {% wagtailuserbar %}
        {% include 'header.html' %}
        <div class="base__wrapper">
            {% if messages %}
              {% for message in messages %}
                  <div class="alert alert--{{ message.level_tag }}" role="alert">
                      <div class="text-center alert-text">
                      {{ message }}
                      </div>
                  </div>
              {% endfor %}
              {% endif %}
              {% block extra_messages %}{% endblock %}

            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
            {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            {% endblock %}
            {% block extra_css %}
            {# Override this in templates to add extra javascript #}
            {% endblock %}
        </div>
        <div class="footer bg-light"></div>
    </body>
</html>
{% endraw %}
